body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90px;
    margin-bottom: 0;
}

header {
    margin-bottom: 15px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 5px solid dodgerblue;
    border-radius: 10px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

#screen {
    border: 2px solid black;
    min-height: 115px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    padding-right: 10px;
}

#buttons {
    display: flex;
    
    flex-direction: column;
}

.line {
    display: flex;
}

button {
    background-color: white;
    font-size: 80px;
    color: cornflowerblue;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    margin: 30px 10px 10px;
}