body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

h1 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90px;
    margin-bottom: 0;
    margin-top: 5px;
}

header {
    margin-bottom: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 5px solid #C0C0C0;
    border-radius: 10px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    background-color: #CECECF;
}

#screen {
    border: 2px solid black;
    min-height: 115px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    padding-right: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
}

button {
    background-color: white;
    font-size: 50px;
    color: white;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    min-height: 90px;
    margin: 30px 10px 10px;
}

.numbers {
    background-color: #292B28;
}

.numbers:hover {
    background-color: #292b289c;
}

.numbers:active {
    background-color: #292b2828;
}

.operators {
    background-color: #837E6A;
}

.clear {
    background-color: #FE3B4B;
}

.clear:hover {
    background-color: #f37883;
}

.clear:active {
    background-color: #ff9fa7;
}

.operators:hover {
    background-color: #646258;
}

#\=:active,
#sqrt:active {
    background-color: #474641;
}

.operator-active {
    background-color: #474641;
}